.paragraph {
    font-size: 20px;
    font-weight: 500;
}
p {
    font-size: 16px;
    font-weight: 500;
}
@media (min-width: 576px) {
    .paragraph {
        font-size: 14px;
    }
    p{
        font-size: 14px;
    }
}
@media (min-width: 410px) {
    .paragraph {
        font-size: 14px;
    }
    p{
        font-size: 14px;
    }
}
@media (max-width: 375px) {
    .paragraph {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
}
@media (max-width: 350px) {
    .paragraph {
        /*font-size: 12px;*/
        font-size: 14px;
    }
    p{
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .paragraph {
        font-size: 16px;
    }
    p{
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .paragraph {
        font-size: 16px;
    }
    p{
        font-size: 16px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .paragraph{
        font-size: 25px;
    }
    p {
        font-size: 16px;
    }
}

.make_donation_area {
    background: #F3FCF8;
    padding-top: 10px;
}


.card_custom_width_height {
    width: 20rem;
    height: 35rem;
}


@media (max-width: 350px) {
    .card_custom_width_height {
        width: 17rem;
        height: 35rem;
    }

}

@media (min-width: 360px) {
    .card_custom_width_height {
        width: 19rem;
        height: 35rem;
    }

}

@media (min-width: 375px) {
    .card_custom_width_height {
        width: 20.5rem;
        height: 35rem;
    }

}

@media (min-width: 410px) {
    .card_custom_width_height {
        width: 23rem;
        height: 35rem;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .card_custom_width_height {
        width: 17rem;
        height: 34rem;
    }
}

@media (min-width: 1200px) {

    .card_custom_width_height {
        width: 20rem;
        height: 35rem;
    }

}


div.carousel-caption-custom {
    top: 10%;
}

div.carousel-center {
    top: 30%;
    bottom: 80%;
}

h2.title-custom {
    font-size: 40px;
}

@media (min-width: 576px) {
    h2.title-custom {
        font-size: 30px;
    }
    div.header-custom{
        height: 400px;
    }
}
@media (min-width: 410px) {
    h2.title-custom {
        font-size: 30px;
    }

    div.header-custom{
        height: 400px;
    }
}
@media (max-width: 375px) {
    h2.title-custom {
        font-size: 30px;
    }

    div.header-custom{
        height: 400px;
    }
}
@media (max-width: 350px) {
    h2.title-custom {
        font-size: 30px;
    }

    div.header-custom{
        height: 400px;
    }
}

@media (min-width: 768px) {
    h2.title-custom {
        font-size: 30px;
    }

    div.header-custom{
        height: 400px;
    }
}

@media (min-width: 992px) {
    h2.title-custom {
        font-size: 40px;
    }

    div.header-custom{
        height: 400px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    h2.title-custom {
        font-size: 40px;
    }

    div.header-custom{
        height: 400px;
    }
}

img.custom-image {
    height: 600px;
}

div.custom-image {
    height: 600px;
    position: sticky;
    bottom: 0;
    right: 0;
}

.red-bg{
    background: red;
}

.half-color {
    background: linear-gradient(0deg, #FFC145 70%, #FFFFFF 0%);
}


.triangled-color {
    background: linear-gradient(300deg, #852923 35%, #ffffff00 0%);
}


#carousel {
    height: 500px;
    display: relative;
}
#carousel img {
    display: hidden; /* hide images until carousel prepares them */
    cursor: pointer; /* not needed if you wrap carousel items in links */
}


.carousel-custom {
    display: hidden; /* hide images until carousel prepares them */
    cursor: pointer; /* not needed if you wrap carousel items in links */
}

.box-inner:hover{ opacity:1; z-index:101; right:0 !important; transition:opacity, right;}


.carousel-image-custom {
    height: 250px;
}
.carousel-image-custom350 {
    height: 350px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.card-overlay:hover .overlay {
    height: 100%;
}

.text-custom {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/* Centered text */
.centered {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

@media (min-width: 992px) {
    .copyright-float{
        float: right;
    }
}
